# Dependencies

node_modules/

# Environment Variables

.env

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage and Test Output

coverage/

# OS Files

.DS_Store
Thumbs.db

# VS Code

.vscode/

# Render

.render

# Temporary Files

*.tmp
*.temp
